dataclasses==0.7
torch==1.4.0
pytorch-ignite==0.3.0
dataclasses==0.7
numpy==1.18.3
pandas==1.2.1
typing==3.7.4.1
tensorboardX==2.0
scikit-learn==0.22.2.post1
scipy==1.4.1
scvi==0.6.4
scanpy==1.4.6
ranger==0.10
scgen==1.1.4
